:root {
  --blue-active: #2196f3;
  
  --black-text: #212121;
  
  --black-light: #757575;
  
  --background: #2f303a;
  
  --white: #ffffff;
  
  --bac-gray: #e5e5e5;
  
  --bac-dark-grey: #f5f4fa;
  
  --white-text-op60: rgba(255, 255, 255, 0.6);
  
  --black: #000000;


  --dist-cards: 30px; 
}

*{
  margin: 0 auto;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0%;
  margin: 0%;
  list-style: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
}

body { 
  font-family: "Roboto", sans-serif;
}
  
a {
  text-decoration: none;
}

.page-header {
  display: flex;
  align-items: center;
  padding-top: 24px;
} 

.page-links{
  display: flex;
  margin-left: 93px;
}


.page-links .item + .item {
  margin-left: 50px;
}

.page-links .links {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts-links .links {
  margin-right: 50px;
}

.contact-links {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contact-links .item + .item {
  margin-left: 50px;
}

.contact-links {
  margin-left: auto;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
  
}

.logotype {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  font-style: normal;
}
  
.logotype {
  color: var(--black);
}
  
.accent {
  color: var(--blue-active);
}
    
.page-links {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
  

.page-links .links.current {
  color: var(--blue-active);
}
  
.page-links .links {
  color: var(--black-text);
}
  
.page-links .links:hover,
.page-links .links:focus {
  color: var(--blue-active);
}
  
  
.contact-links {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
  
.contact-links .links {
  color: var(--black-light); 
}
  
.contact-links .links:hover,
.contact-links .links:focus {
  color: var(--blue-active);
}
  
.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--white);
  text-align: center;
}
  
.hero-button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
}
  
  
.hero-button {
  font-family: "Roboto", sans-serif;
  color: var(--white);
  background-color: #2196f3;
}

.hero .container {
  width: 1200px;
  padding: 0 15px; 
}

.hero {
  padding-top: 200px;
  text-align: center;
} 

.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}
  
.hero-button {
  padding: 10px 32px;
  margin-top: 30px;
  margin-bottom: 200px;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

  
.about-us {
  width: 1200px;
  padding: 0 15px;
}

.set-info {
  display: flex;
}

.set-info .list + .list {
  padding-left: 30px;
}

.set-info > .list {
  flex-basis: calc((100% - 90px) / 4);
}


.list-title {
  margin-top: 94px;
  padding-bottom: 10px;
}

.list-text {
  margin-bottom: 186px;
}

.list-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--black-text);
}
  
.list-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--black-light);
}
  
.our-work-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--black-text);
}
  
.our-team-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--black-text);
}

.our-work {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.our-work-title {
  text-align: center;
  padding-bottom: 50px;
}

.container-our-work {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;

  margin-left: - 30px;
}

.container-our-work > .img {
  flex-basis: calc(100% / 3 - 30px);
  margin-block: 94px;
}

.container-our-work .img {
  padding-left: 30px;
}
  
.employee-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--black-text);
}
  
.employee-position {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--black-light);
}

.our-tem {
  width: 1200px;
  padding: 0 15px;

  margin-left: auto;
  margin-right: auto;
}
  
.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
  
.address {
  color: var(--white);
}
  
.address:hover,
.address:focus {
  color: var(--blue-active);
}
  
.contact-links .contact-l {
  color: var(--white-text-op60);
}
  
.contact-links {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
  
.contact-links .contact-l:hover,
.contact-links .contact-l:focus {
  color: var(--blue-active);
}
  
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  font-style: normal;
}
  
.footer-logo {
  color: var(--white);
}
  
.accent {
  color: var(--blue-active);
}
  
<!-- сторінка портфоліо -->
  
.filter-element {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
  
.filters-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
  
.filters-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;    line-height: 1.87;
}
  
.header {
  background-color: var(--white);
}
  
.hero {
  background-color: var(--background);
}
  
.about-us {
  background-color: var(--bac-gray);
}
  
.our-team {
  background-color: var(--bac-dark-grey);
}
  
.footer {
  background-color: var(--background);
}
  
.main {
  background-color: var(--bac-gray);
}
  
<!-- портфоліо -->
  
.btn {
  color: var(--black-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: "Roboto", sans-serif;
}
  
.btn:hover,
.btn:focus {
  color: var(--white);
  background-color: var(--blue-active);
}
  
.filters-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--black-text);
}
  
.filters-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--black-light);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}

.card-filters {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;

  margin-left: calc(-1 * var(--dist-cards));
  margin-top: calc(-1 * var(--dist-cards));
}

.card-filters > .element {
  flex-basis: calc(100% / 3 - var(--dist-cards));

  margin-left: var(--dist-cards);
  margin-top: var(--dist-cards);
}


.filters-text {
  margin-top: 4px;
}

.card-content {
  padding: 24;
}